$title-font: Roboto;

$text-font: Roboto;

$primary-font-size: 1.5rem;

$secondary-font-size: 1rem;

$primary-color: #9356dc;

$secondary-color: #ff79da;

$tertiary-color: #99e2d0;

$mobile-width: 768px;

$tablet-width: 1024px;

$desktop-width: 1440px;

$primary-background-color: #f6f6f6;

$secondary-background-color: white;

$footer-background-color: #353535;

$button-color: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);

$button-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

$button-hover-color: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%),
  linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));

$button-hover-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
