@use "variables";
@use "bases";

body {
  // max-width: variables.$mobile-width;
  margin: 0 auto;
  font-family: variables.$text-font;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: variables.$text-font;
    font-size: variables.$secondary-font-size;
    background: rgba(234, 234, 234, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    .header-logo {
      background-color: variables.$secondary-background-color;
      width: 100%;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4.25em;
      img {
        height: 36px;
      }
    }
    .location {
      height: 3.125em;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        padding-right: 15px;
      }
    }
  }

  main {
    .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      text-align: center;

      h1 {
        font-family: variables.$title-font;
        font-size: variables.$primary-font-size;
        margin-bottom: 10px;
      }

      p {
        font-size: variables.$secondary-font-size;
        margin-bottom: 20px;
      }

      button {
        background: variables.$button-color;
        box-shadow: variables.$button-shadow;
        width: 218px;
        height: 50px;
        border-radius: 25px;
        border: 1px solid transparent;
        color: white;
        font-size: 16px;
        font-weight: 500;

        &:hover {
          background: variables.$button-hover-color;
          box-shadow: variables.$button-hover-shadow;
        }
      }
    }

    .fonctionnement {
      background-color: variables.$secondary-background-color;
      padding: 50px 20px;
      h1 {
        margin: 0;
      }

      .custom-ol {
        margin: 0;
        list-style: none;
        counter-reset: compteur;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          background-color: variables.$primary-background-color;
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          counter-increment: compteur;
          position: relative;
          margin: 10px 0;
          width: 322.49px;
          height: 72.38px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 12px;
          i {
            position: absolute;
            left: 40px;
          }
        }

        li::before {
          content: counter(compteur);
          position: absolute;
          left: -12px;
          top: 50%;
          transform: translateY(-50%);
          width: 24px;
          height: 24px;
          line-height: 24px;
          background-color: rgba(147, 86, 220, 1);
          color: white;
          font-weight: bold;
          border-radius: 50%;
          text-align: center;
          font-family: sans-serif;
        }
      }
    }
  }
}
